<div class="track__inner">
    <div class="track__assets">
    <img class="track__img" src="{{artwork_url}}"/>
    <span class="track__added-icon">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.6 197.8">
            <path fill="#52A03A" d="M135.9,189.9c-5.3,5.3-12.2,7.9-19.1,7.9s-13.8-2.6-19.1-7.9
                l-90-90C2.2,94.3-0.3,87,0,79.7c0.3-6.5,2.7-13,7.7-18c5-5,11.5-7.4,18-7.7c7.3-0.3,14.6,2.1,20.2,7.7l70.9,70.9L241.7,7.7
                c5.6-5.6,12.9-8,20.2-7.7c6.5,0.3,13,2.7,18,7.7c5,5,7.4,11.5,7.7,18c0.3,7.3-2.1,14.6-7.7,20.2L135.9,189.9z"/>
        </svg>
    </span>
    </div>
    <div class="track__info" data-id="{{id}}">
        <h4 class="track__title">
            {{title}}
            <span class="duration">{{prettyDuration}}</span>
            <span class="plays">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.08 13">
                    <path d="M8.8,5.92L1.16,0.15C0.94-0.02,0.64-0.05,0.4,0.08C0.16,0.2,0,0.45,0,0.72v11.56c0,0.27,0.16,0.52,0.4,0.65 C0.5,12.97,0.61,13,0.72,13c0.15,0,0.31-0.05,0.44-0.15L8.8,7.08C8.98,6.94,9.08,6.73,9.08,6.5C9.08,6.27,8.98,6.06,8.8,5.92z"/>
                </svg>
                {{playback_count}}
            </span>
        </h4>
        <div class="track__username">{{user.username}}</div>
        <div class="track__delete js-delete">Remove</div>
    </div>
    <div class="track__seek">
        <span class="track__seek__indicator"></span>
    </div>
</div>
